body{
    height: 100%;
    margin: 10px;
    flex-grow: 1;
}
.me{
    float: left;
    width: 135px;
    height: 190px;
    margin: 5px 10px 5px 10px;
}
.footer{
    text-align: center;
    width:100%;
    padding: 0px;
    /* border-top: 2px solid; */
    position:fixed;
    margin: auto;
    bottom: 0;
    left: 0;
    right:0;
    flex-shrink: 0;
    /* z-index: 3; */
}
.container, .cont2, .cont3{
    width:500px;
}
.projects{
    height: 150px;
    width: 150px;
    display: block;
    position: relative;
    margin: auto;
}
#project1, #project2, #project3, #project4{
    text-align: center;
}
@media screen and (max-width:375px){
    .container, .cont2, .cont3{
        width:365px;
    
    }    
    .projects{
        width: 150px;
        display: block;
        position: relative;
        margin: auto;
    }
}