/* font-family: 'Long Cang', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Special Elite', cursive; */
body{
    height: 100%;
    margin: 10px;
    flex-grow: 1;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}
h1{
    /* font-family: ''; */
}
.content{
    width: 100%;
    margin: auto;
    position: relative;
    display: block;
    text-align: center;
}
.me{
    float: left;
    width: 135px;
    height: 190px;
    margin: 5px 10px 5px 10px;
}
.name, .comment, #contact-me{
    font-family: 'Special Elite', cursive;
}
.container, .cont2, .cont3{
    width:100%;
}
.projects{
    height: 150px;
    width: 150px;
    display: block;
    position: relative;
    margin: 25px auto;
    border-radius: 15px;
}
.footer{
    font-family: 'Long Cang', cursive;
    font-size: 18pt;
    text-align: center;
    width:100%;
    padding: 0px;
    /* border-top: 2px solid; */
    position:fixed;
    margin: auto;
    bottom: 0;
    left: 0;
    right:0;
    flex-shrink: 0;
    z-index: 3;
}
#project1, #project2, #project3, #project4{
    text-align: center;
}
@media screen and (max-width:375px){
    .container, .cont2, .cont3{
        width:auto;
        margin: auto;
    }    
    .projects{
        height: 150px;
        width: 150px;
        display: block;
        position: relative;
        margin: auto;
        }
}